# Data Science Tools and Ecosystem
"In this notebook, Data Science Tools and Ecosystem are summarized."

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Vegas
2. Seaborn
3. ggplot2

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

# Objectives:
+ **R**
+ **Java**
+ **SQL**
+ **Scala**
+ **Julia**
+ **Python**

## Author
"Leila Bahrami Samani"